body{
    background-color: #202125;
    /*background: url(../images/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
p,h1,h2,h3,h4,h5,h6,th,td,tr{
    font-family: 'Roboto', sans-serif;   
    color: #32393e;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.white{
    color: white;
}
td, th{
    padding: 10px;
    background-color: white;
}
.heading{
    background-color: #656e75;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    border-bottom: 2px solid black;
}
.table-base{
    border-bottom-left-radius: 10px;
    bborder-bottom-right-radius: 10px;
}
table{
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 2px solid black;
}
.center{
    text-align: center;
}
.thin{
    font-weight: 100;
}
.bold{
    font-weight: 500;
}
.black{
    font-weight: 800;
}
.title{
    text-align: center;
    padding-top: 20px;
}
.textbox { 
    border: 3px solid #e5e5e5; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    padding-left:10px; 
    padding-right:10px; 
    margin-bottom: 5px;
}

